body{
	background: #ecefff;
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

}
.btn{
	background: #405cfe;
	margin: 10px;
	border-radius: 1000px;
	border: none;
	font-weight: bold;
	padding: 15px 30px;
	color: #fff;
	font-size: 1.2em;
	outline: none;
}
.container{
	padding: 50px 0px;
}
.map-container{
	margin: 30px 0px 50px 0px;
}
.pac-input{

      top: 10px !important;
    padding: 12px !important;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
    border: 1px solid #ccc;
    font-size: 1.5em;
    outline: none;
    color: #333;
    width: 350px !important;
}
.map{
	height: 500px;
	width: 1000px;
	margin: 0 auto;
}
.location-display-div{
	padding: 25px;
	border-radius: 4px;
	text-align: center;
	font-size: 1.4em;
	color: #444;
	margin: 40px 0px 20px 0px;
	position: relative;
	height: 74px;
	line-height: 1.4;
}
.location-display-div-btn{
    background: #fff;
    color: #405cfe;
    cursor: pointer;
    font-size: 1.0em;
    display: inline-block;
    text-align: center;
    /* border-left: 1px solid #ccc; */
    border-radius: 0px 4px 4px 0px;
    /* padding-top: 20px; */
    padding: 15px 20px;
    border-radius: 1000px;
    display: block;
    border: 1px solid #405cfe;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}
.hide{
	display: none;
}
.center{
	text-align: center;
}
.separator{
	font-size: 1.2em;
	margin: 25px;
}

@media(max-width: 800px){
	.map{
		    width: calc(100vw + 15px);
		height: 100vh;
	}
	.pac-input{
		    top: 65px !important;
    padding: 12px !important;
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
    border: 1px solid #ccc;
    font-size: 1.5em;
    outline: none;
    color: #333;
    width: 94% !important;
    left: 10px !important;
    right: 10px !important;
	}
}